.input {
    padding: 20px 20px 20px 0;
    @include mobile() {
        padding: 20px 0;
    }
    font-size: 12px;
    label {
        padding-bottom: 12px;
    }
    input {
        border: 1px solid $white-200;
        color: $grey-100;
        border-radius: 2px;
        font-size: 14px;
    }
    .forgot {
        cursor: pointer;
        padding-left: 20px;
        text-decoration: underline;
        font-style: italic;
        color: $grey-100;
    }
    .green-submit,
    .white-submit {
        height: 40px;
        width: 120px;
        border: 1px solid $green-100;
        border-radius: 999px;
        a {
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0;
        }
    }
    .green-submit {
        background: $green-100;
        transition: all 0.2s ease-in;
        a {
            color: $white-100;
        }
        &:hover {
            background: $white-100;
            a {
                color: $green-100;
            }
        }
    }
    .white-submit {
        background: $white-100;
        transition: all 0.2s ease-in;
        a {
            color: $green-100;
        }
        &:hover {
            background: $green-100;
            a {
                color: $white-100;
            }
        }
    }
    .password,
    .text {
        width: 100%;
        height: 42px;
    }
    .checkbox-label {
        padding: 0 0 0 10px;
        font-weight: bold;
    }
    .asterisk {
        color: $red-200;
    }
}
