.sort {
    @include list-wrapper($grey-100, $green-100) {
        .list-sort-item {
            text-transform: none;
            border-bottom: 1px solid $white-250;
            &:first-child {
                border: none;
            }
            &.active {
                color: $green-100;
            }
        }
        .sort-color {
            cursor: pointer;
            text-transform: none;
            &:not(:first-child) {
                @include flex("", "", "");
                div {
                    width: 24px;
                    height: 24px;
                    border-radius: 999px;
                    margin-right: 8px;
                }
                .green {
                    background: #98cb4a;
                }
                .red-orange {
                    background: #f76d3c;
                }
                .purple {
                    background: #913ccd;
                }
                .blue {
                    background: #5481e6;
                }
                .yellow {
                    background: #f7d842;
                }
                .pink {
                    background: #f15f74;
                }
            }
        }
    }
}
