@import "../base/mixins";
.footer {
    background: var(--dark-200);
    @include Arial-font;
    color: var(--grey-100);
    &__top {
        padding: 22px 0;
        border-bottom: 1px solid var(--grey-300);
        li {
            transition: all 0.2s ease-in;
            &:hover {
                color: var(--green-100);
            }
        }
        p {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 25px;
        }
        @include search(100%, 48px, 0, var(--green-100), 1, none);
    }
    &__body {
        padding: 40px 0;
        border-bottom: 1px solid var(--grey-300);
        @include logo(var(--grey-100));
        .content,
        .phone,
        .email {
            line-height: 30px;
            padding: 8px 64px 8px 0;
        }
        .list-wrapper {
            padding-right: 48px;
            &:last-child {
                padding-right: 0;
            }
            li {
                padding: 8px 0;
                text-transform: uppercase;
                font-size: 12px;
                transition: all 0.2s ease-in;
                line-height: 20px;
                i {
                    font-size: 10px;
                }
                &:first-child {
                    color: var(--green-100);
                    font-weight: bold;
                    font-size: 16px;
                }
                &:hover {
                    color: var(--green-100);
                }
            }
        }
    }
    &__bottom {
        li {
            transition: all 0.2s ease-in;
            &:hover {
                color: var(--green-100);
            }
        }
        .copy-right {
            background: var(--dark-100);
            color: var(--white-100);
        }
    }
}
