@mixin Arial-font {
    font-family: Arial !important;
}

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    @if $top != "" {
        top: $top;
    }
    @if $bottom != "" {
        bottom: $bottom;
    }
    @if $left != "" {
        left: $left;
    }
    @if $right != "" {
        right: $right;
    }
}

@mixin flex($dir, $jus, $ali) {
    display: flex;
    @if $dir != "" {
        flex-direction: $dir;
    }
    @if $jus != "" {
        justify-content: $jus;
    }
    @if $ali != "" {
        align-items: $ali;
    }
}

$tablet-width: 768px;
$desktop-width: 992;
@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin logo($color) {
    .logo {
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            left: 2%;
            color: $color;
            font-size: 100%;
            letter-spacing: 2px;
            line-height: 26px;
            font-weight: 300;
        }
    }
}

@mixin link($color: $white-100, $colorhover: $white-100) {
    .link {
        cursor: pointer;
        color: $color;
        text-decoration: none;
        &:hover {
            color: $colorhover;
        }
    }
}

@mixin list($w: 40px, $h: 32px, $bhover: $dark-300, $ihover: $grey-300) {
    .list {
        @include flex("", "", center);
        .item {
            cursor: pointer;
            width: $w;
            height: $h;
            @include flex("", center, center);
            transition: all 0.3s ease-in-out;
            &:hover {
                background: $bhover;
                color: $ihover;
                i {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@mixin search(
    $width: 200px,
    $height: 40px,
    $boder-radius: 0,
    $bg-btn: $white-100,
    $zindex-search: 1,
    $bg-after: $white-400
) {
    .search-box {
        position: relative;
        width: $width;
        height: $height;
        .search {
            height: 100%;
            width: 100%;
            border-radius: $boder-radius;
            padding-left: 16px;
            font-size: 12px;
        }
        .btn-search {
            @include absolute(0, 0, "", "");
            height: 100%;
            z-index: $zindex-search;
            width: $height;
            border-radius: $boder-radius;
            background: $bg-btn;
            &:after {
                @include absolute(50%, "", "", -10px);
                content: "";
                transform: translateY(-50%);
                width: 1px;
                height: 24px;
                background: $bg-after;
            }
        }
    }
}

@mixin dropdown {
    .dropdown {
        position: relative;
        &__menu {
            @include absolute(100%, "", "", 0);
            z-index: 100;
            color: $white-100;
            transition: all 0.2s ease-in;
            visibility: hidden;
            opacity: 0;
        }
        &__item {
            padding: 18px;
            width: 200%;
            background: $green-100;
            &:hover {
                background: $green-300;
            }
        }
        &:hover {
            .dropdown__menu {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@mixin list-wrapper($color: $grey-100, $hovercolor: $white-100) {
    .list-wrapper {
        &:last-child {
            padding-right: 0;
        }
        li {
            color: $color;
            padding: 8px 0;
            text-transform: uppercase;
            font-size: 12px;
            transition: all 0.2s ease-in;
            line-height: 20px;
            i {
                font-size: 10px;
            }
            &:first-child {
                color: $green-100;
                font-weight: bold;
                font-size: 16px;
                &:hover {
                    color: $green-100;
                }
            }
            &:hover {
                color: $hovercolor;
            }
        }
        @content;
    }
}
@mixin btn-green() {
    background: $green-100;
    color: $white-100;
    border: 1px solid $green-100;
    transition: all 0.2s ease-in;
    &:hover {
        color: $green-100;
        background: $white-100;
        border: 1px solid $green-100;
    }
}
@mixin btn-white() {
    color: $green-100;
    background: $white-100;
    border: 1px solid $green-100;
    transition: all 0.2s ease-in;
    &:hover {
        background: $green-100;
        color: $white-100;
        border: 1px solid $green-100;
    }
}