@mixin reStylesDataBsTarget {
    [data-bs-target] {
        text-indent: 0;
        height: auto;
        width: auto;
        background: none;
    }
    .active {
        background: none;
    }
}
.carousel-indicators {
    [data-bs-target] {
        height: 12px;
        width: 12px;
        border: none;
        opacity: 1;
        border-radius: 999px;
    }
    .active {
        background: $green-100;
    }
    &.tab {
        top: -56px;
        bottom: auto;
        right: auto;
        left: 0;
        margin: 0;
        padding-left: 1rem;
        @include reStylesDataBsTarget();
        [data-bs-target] {
            color: $grey-100;
            margin: 0;
            margin-right: 1rem;
        }
        i {
            font-size: 1.5rem;
        }
        .active {
            i {
                color: $green-100;
            }
        }
    }
    &.images {
        position: relative;
        margin: 0;
        padding-top: 28px;
        @include reStylesDataBsTarget();
        [data-bs-target] {
            margin: 0;
            padding-left: 2%;
            &:first-child {
                padding-left: 0;
            }
        }
        .active {
            img {
                border: 1px solid $green-100;
            }
        }
    }
}
.pagination {
    flex-wrap: wrap;
    font-size: 0.75rem;
    .page-item {
        padding: 8px 0;
        .page-link {
            border-radius: 2px !important;
            margin: 0 4px;
            height: 40px;
            padding: 0 16px;
            @include btn-white {
                border-color: $white-200;
                color: $grey-100;
            }
            &__number {
                width: 40px;
                height: 40px;
            }
            &:focus {
                box-shadow: none;
            }
        }
        &.active .page-link {
            background-color: $green-200;
            color: $white-100;
            border: 1px solid $white-200;
        }
    }
}

.modal {
    .modal-dialog {
        height: 80vh;
        .modal-content {
            background: $white-150;
            .modal-header {
                border: none;
                @include flex("", flex-end, "");
                i {
                    cursor: pointer;
                    color: $green-100;
                    font-size: 1.25rem;
                }
            }
            .modal-body {
                @include search(100%, 40px, 0, $green-100, 1, none);
                .row {
                    div {
                        &:last-child {
                            padding-left: 1rem;
                            color: $grey-400;
                            font-size: 0.75rem;
                            line-height: 1.25rem;
                            .title {
                                font-size: 1.25rem;
                                color: $green-100;
                                text-transform: uppercase;
                                font-weight: bold;
                                margin: 0.25rem 0 1.5rem;
                            }
                            .input {
                                @include flex("", "", center);
                                padding: 0;
                                label {
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.show {
    background-color: rgba($color: #000000, $alpha: 0.4);
}
.modal-backdrop {
    background-color: rgba($color: #000000, $alpha: 0);
}

.progress {
    height: 8px;
    .progress-bar {
        background-color: $green-100;
        transition: all 1s ease-in;
        width: 0;
    }
}

.toast {
    background: rgba($color: $green-100, $alpha: 0.6);
    backdrop-filter: blur(4px);
    .toast-body {
    }
}
