$dark-100: #434343;
$dark-200: #323232; 
$dark-300: #202020;
$white-100: #ffffff;
$white-200: #ebebeb;
$white-250: #e1e1e1;
$white-300: #c2c2c2;
$white-400: #b7b7b7;
$green-100: #3fb871;
$green-200: #3fb771;
$green-300: #36a66d;
$green-400: #59b586;
$grey-100: #898989;
$grey-200: #959595;
$grey-300: #7d7d7d;
$grey-400: #555555;
$red-100: #d64146;
$red-200: #ed1c24;
$yellow-100: #febf01;

:root {
	--dark-100: #{$dark-100};
	--dark-200: #{$dark-200};
	--dark-300: #{$dark-300};
	--white-100: #{$white-100};
	--white-200: #{$white-200};
	--white-250: #{$white-250};
	--white-400: #{$white-400};
	--green-100: #{$green-100};
	--green-200: #{$green-200};
	--green-300: #{$green-300};
	--grey-100: #{$grey-100};
	--grey-200: #{$grey-200};
	--grey-300: #{$grey-300};
	--grey-400: #{$grey-400};
	--red-100: #{$red-100};
	--red-200: #{$red-200};
	--yellow-100: #{$yellow-100};
}