.products-page {
    .sort-bar {
        font-size: .875rem;
        .list {
            .item {
                padding: 0 1rem;
                i {
                    cursor: pointer;
                    position: relative;
                    font-size: 1.5rem;
                    color: $grey-100;
                    transition: all 0.2s ease-in;
                    &:hover {
                        color: $green-100;
                    }
                }
            }
        }
        select {
            cursor: pointer;
            font-size: .75rem;
            padding: 8px;
            border: 1px solid $white-200;
            outline: $grey-100;
            color: $grey-100;
        }
    }
    .banner__img {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 26.85% !important;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}
