- 
	var data = {
		header: {
			icons: ["fab fa-facebook-f", "fab fa-twitter", "fab fa-tumblr", "fab fa-vimeo-v"],
			login: [
				{
					title: "Đăng nhập",
					icon: "fas fa-user",
					link: "/login.html"
				},
				{
					title: "Đăng ký",
					icon: "fas fa-user-plus",
					link: "/signin.html"
				}
			],
			menu: [ 
				{
					dropdown: false,
					title: "Trang chủ",
					link: "/"
				},
				{
					dropdown: false,
					title: "Giới thiệu",
					link: "/about.html"
				},
				{
					dropdown: true,
					title: "Sản phẩm",
					link: "/products.html"
				},
				{
					dropdown: true,
					title: "Sản phẩm mới",
					link: "/new-products.html"
				},
				{
					dropdown: false,
					title: "Liên hệ",
					link: "/contact.html"
				}
			],
			carousel: ["/assets/images/slide.png","/assets/images/slide.png","/assets/images/slide.png"]
		},
		productsHighlight: {
			left:[
				{
					src: "spx2-4",
					name: "Cây chân chim",
					status: "new",
					priceNew: "250.000",
					priceOld: "250.000",
					rate: "5",
					isBig: true
				},
				{
					src: "spx2-11",
					name: "Cây co ta",
					status: "",
					priceNew: "150.000",
					priceOld: "250.000",
					rate: "4.5",
					isBig: false
				},
				{
					src: "spx2-6",
					name: "Cây dứa nhỏ",
					status: "",
					priceNew: "375.000",
					priceOld: "250.000",
					rate: "3",
					isBig: false
				}
			],
			right: [
				{
					src: "spx2-5",
					name: "Cây dạ lam",
					status: "-50%",
					priceNew: "500.000",
					priceOld: "250.000",
					rate: "3.5",
					isBig: false
				},
				{
					src: "spx2-15",
					name: "Cây danh dự",
					status: "new",
					priceNew: "850.000",
					priceOld: "250.000",
					rate: "4",
					isBig: false
				},
				{
					src: "spx2-3",
					name: "Cây đa búp đỏ",
					status: "-50%",
					priceNew: "1.000.000",
					priceOld: "250.000",
					rate: "2.5",
					isBig: true
				}
			]
		},
		footer: {
			icons: ["fab fa-facebook-f", "fab fa-twitter", "fab fa-youtube", "fab fa-vimeo-v"],
			listFooter: [
				["Thông tin khách hàng", "Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý, khiếu nại"],
				["Hỗ trợ dịch vụ", "Hệ thống cửa hàng", "Hướng dẫn mau hàng", "Hướng dẫn thanh toán", "Tích điểm đổi quà", "Câu hỏi thường gặp"],
				["Chính sách ưu đãi", "Chính sách giao hàng", "Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩn mới", "Chính sách trả góp"],
				["Tin tức", "Tin mới", "Khuyến mại", "Tuyển dụng", "Download", "Tag"]
			]
		}
	}