mixin success()
	#success
		.success.my-4
			#success-box 
				.face 
					.eye
					.eye.right
					.mouth.happy
				.shadow.scale
				.message
					h1.alert Hoàn tất
					p.text-grey-100 Hey, cảm ơn đã mua sắm tại cửa hàng chúng tôi
				button.button-box 
					h1 
						a(href="/products.html") Tiếp tục mua
