extends ../base/base
include ../components/breadcrumb
include ../components/title
include ../components/icon

block pages
	include ../data/data
	- var breadCrumItems = data.cartPage.breadCrumItems
	-
		var pages = {
			title: "Giỏ hàng",
			link: "/cart.html"
		}
block layouts
	section.cart-page#cart-page
		.container.py-5.pt-0
			+breadcrumb(breadCrumItems)
			+title('Giỏ hàng')(class='px-0 py-5 pt-0', style="text-transform: uppercase")
			.table.py-3.pt-0#table
				.row.bg-green-200.text-white-100.tr
					.col-2.center.th
						p Hình ảnh
					.col-3.center.th
						p Tên sản phẩm
					.col-2.center.th
						p  Đơn giá
					.col-2.center.th
						p Số lượng
					.col-2.center.th
						p Thành tiền
					.col-1.center.th
						p Xóa
			.group-btn
				button(type="button", class="btn-white" onclick="removeAllProductInCartTable()" id="remove-all") Hủy đơn hàng
				button(type="button", class="btn-green") 
					a(href="/products.html") Tiếp tục mua
			.total.py-5
				.total__product.text-green-100.row
					.col-md-4.col-8.text-center
						p Tổng tiền (Chưa thuế)
					.col-md-2.col-4.center#total
						p 270.000 đ
				.total__tax.text-green-100.row
					.col-md-4.col-8.text-center
						p Thuế (VAT 10%)
					.col-md-2.col-4.center#total
						p 27.000 đ
				.total__pay.text-white-100.row
					.col-md-4.col-8.bg-green-200.text-center
						p Tổng phải thanh toán
					.col-md-2.col-4.bg-green-200.center#total
						p 297.000 đ
				button.my-4#pay Thanh toán