extends ../base/base

block pages
	- 
		var pages = {
			title: "Trang chủ",
			link: "/"
		}
block layouts
	include ../layouts/highlight-products.pug
	.row
		//- include ../layouts/highlight-products.pug
		//- include ../layouts/highlight-products.pug
