include ../components/product
include ../components/title
include ../data/data
- var productsHighlightLeft = data.products.productsHighlight.left
- var productsHighlightRight = data.products.productsHighlight.right

section.products__highlight
	.container
		+title('Sản phẩm nổi bật')
		.row
			.col-lg-6.wrap
				each val in productsHighlightLeft
					if (val.size === "large")
						.w-100
							+product(val.src, val.name, val.status, val.priceNew, val.priceOld, val.rate, val.size)
					else
						.w-50
							+product(val.src, val.name, val.status, val.priceNew, val.priceOld, val.rate, val.size)
			.col-lg-6.wrap
				each val in productsHighlightRight
					if (val.size === "large")
						.w-100
							+product(val.src, val.name, val.status, val.priceNew, val.priceOld, val.rate, val.size)
					else
						.w-50
							+product(val.src, val.name, val.status, val.priceNew, val.priceOld, val.rate, val.size)
